:root {
  --margin: 5px;
  --pane-basis: calc( 10vw - (var(--margin) * 5));
  --pane-size: var(--pane-basis);
  --two-pane-size: calc(var(--pane-basis) * 2 + var(--margin));
}

html {
  background-color:#0f0f0f;
  color: #fffffa;
}

.header {
  text-align: center;
}

.contentContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--margin);
}

.subContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--margin);
}

.subContainer2x2{
  width: var(--two-pane-size);
  height: var(--two-pane-size);
}

.pane {
  display: inline-block;
  flex-shrink: 0.9;
}

.pane1x1 {
  background-color: red;
  width: var(--pane-size);
  height: var(--pane-size);
}

.pane2x2 {
  background-color: red;
  width: var(--two-pane-size);
  height: var(--two-pane-size);
}

.pane2x1 {
  background-color: red;
  width: var(--two-pane-size);
  height: var(--pane-size);
}